﻿<%@ Page Title="Home Page" Language="C#"  AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Automaq_Reporteador_V2._Default" %>

   
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
  <!-- Required meta tags -->
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/login.css">
  <title>Bienvenido a PlayManager by Leben Development</title>
</head>

<body >
    <div class="container">
      <div class="card-container">
        <div class="header">
          
        <div class="formulario">
          <img width="70%" src="Img/logotecmaq.png" alt="">
            <h1  style="color:white">REPORTEADOR</h1>
            <form id="form1" runat="server" class="formulario">  
         <br/>
          <br/>
           <input id="txt_user" runat="server" class="entrada_text" size="15" maxlength="30" type="text" placeholder="Nombre de usuario" required>
          <br/>
          <input id="txt_pass" runat="server" class="entrada_text" size="15" maxlength="30" type="password" placeholder="Contraseña" required></input>
          <br/>
          <asp:Button ID="Button1" CssClass="button_ingresar" onclick="Authentication" runat="server"  Text="Ingresa" />
          <br/>
                <br/>
                
            <br/>
                <!--
          <p style="color:white">  <font size =2><b>Ultima Actualización de datos:  </b>  <br /> <asp:Label runat="server" ID="Update">holis</asp:Label></font></p>
      
          <p style="color:white"> <font size =2><b> Proxima Actualización de datos: </b> <br /> <asp:Label runat="server" ID="Update2">holis</asp:Label> </font></p>
   -->
         </form>
          
          
        </div>

         <!-- <p><b>User ID:</b> <asp:Label runat="server" ID="prueba">holis</asp:Label></p> -->
      </div>
    </div>
</body>

   

</html>

