body {
}

.dashboard-cards {
    top: 140px;
    left: 17%;
    position: absolute;
    padding-bottom: 20px;
    margin: 0 !important;
}

    .dashboard-cards .card {
        
        background: #1E1E1E;
        display: block;
        -webkit-perspective: 100;
        perspective: 100;
        z-index: 2;
        padding: 0 !important;
        margin: 10px 5px 5px 2px;
        position: relative;
        text-align: left;
        transition: all 0.3s 0s ease-in;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    /*
    .dashboard-cards .card:hover {
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    transition: all 0.3s ease;
}
    */

        .dashboard-cards .card .card-title {
            background: #1E1E1E;
            color: whitesmoke;
            padding: 15px 10px;
            position: relative;
        }

            .dashboard-cards .card .card-title h2 {
                font-size: 16px;
                letter-spacing: -0.05em;
                margin: 0;
                padding: 0;
                width: auto;
            }

.dashboard-cards .card .card-title h2 small {
    display: block;
    font-size: 12px;
    margin-top: 6px;
    letter-spacing: -0.025em;
}

.dashboard-cards .card .card-description {
    position: relative;
    font-size: 14px;
    border-top: 1px solid rgb(154, 154, 154);
    padding: 10px 10px 0 10px;
}

.dashboard-cards .card .card-actions {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
    padding: 10px;
    text-align: center;
}

.dashboard-cards .card .card-flap {
    background: #d9d9d9;
    position: absolute;
    width: 100%;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    opacity: 0;
}

.dashboard-cards .card .flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -2;
}

.dashboard-cards .card .flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -3;
}

.dashboard-cards.showing .card {
    cursor: pointer;
    opacity: 0.6;
    -webkit-transform: scale(0.88);
    transform: scale(0.88);
    z-index: 0;
}

.dashboard-cards .no-touch .dashboard-cards.showing .card:hover {
    opacity: 0.94;
    -webkit-transform: scale(0.92);
    transform: scale(0.92);
}

.dashboard-cards .card.d-card-show {
    opacity: 1 !important;
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
}

    .dashboard-cards .card.d-card-show .card-flap {
        background: #303030;
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        opacity: 1;
        position: absolute;
    }

.dashboard-cards .card.d-card-show .flap1 {
    transition: all 0.3s 0s ease-out;
}

.dashboard-cards .card.d-card-show .flap2 {
    transition: all 0.3s 0.2s ease-out;
}

    .dashboard-cards .card .task-count {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 18px;
        right: 18px;
        background: #828282;
        text-align: center;
        line-height: 35px;
        border-radius: 100%;
        color: #ffffff;
        font-size: 20px;
        font-weight: 600;
        transition: all .2s ease;
    }

        .dashboard-cards .card .task-count:hover {
            color: #ffffff;
            background: #E9661B;
            transition: all .2s ease;
        }

.dashboard-cards .task-list {
    padding: 0 !important;
}

    .dashboard-cards .task-list li {
        padding: 10px 0;
        padding-left: 8px;
        margin: 3px 0;
        list-style-type: none;
        border-bottom: 1px solid #e9ebed4e;
        border-left: 3px solid #E9661B;
        transition: all .2s ease;
        color: whitesmoke;
    }

    .dashboard-cards .task-list li:hover {
        background: #E9661B;
        transition: all .2s ease;
    }

.player-container {
    background: #ff3a3a;
    transition: all .2s ease;
}


.dashboard-cards .task-list li span {
    float: right;
    color: #ff3a3a;
    margin-right: 5px;
}

.dashboard-cards.showing .card.d-card-show .task-count {
    color: #ffffff;
    background: #E9661B;
    transition: all .2s ease;
}


@media (max-width:750px) {
    .dashboard-cards .card {
        margin-top: 20px;
        width: 100%;
    }


}

.checkbox {
    width: 20px;
    height: 20px;
    background: #ecf0f1;
    text-align: center;
    line-height: 80px;
    border-radius: 100%;
    color: #333333;
    font-weight: 600;
    transition: all .2s ease;
}

.active {
    color: #ff3a3a;
}

.container-active {
    background: #ff3a3a;
}

.dashboard-cards .card .card-title h2:hover {
    color: #E9661B;
    transition: all .2s ease;
}
