﻿table.table-players thead {
    background-color: lightblue;
    color: black;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}
table {
    border: 1px solid black;
    box-shadow: 5px 5px 6px #999;
}




    table.table-players tfoot {
        background-color: white;
        color: black;
    }

table.table-players tbody {
   /* background-color: rgb(30, 30, 30);
    color: white;
*/
}

table.table-players td {
     width: 50px;
    font-size: 0.80rem;
}

table.table-players2 td {
    /* width: 50px;*/
    font-size: 0.80rem;
}

.des {
    text-align: center ;
    background-color:lavender;
}

.table-container {
    z-index: 0;
    width: 1200px;
    height: auto;
    margin: auto;
    top: 255px;
    left: 65px;
    position: absolute;
    display: inline-flex;
}

.table-container4 {
    z-index: 0;
    width: 300px;
    height: 30px;
    margin: 0px;
    top: 215px;
    left: 140px;
    position: absolute;
    display: inline-flex;
}

.table-container5 {
    z-index: 0;
    width: 200px;
    height: 30px;
    margin: 0px;
    top: 215px;
    left: 1125px;
    position: absolute;
    display: inline-flex;
}

.titulo {
    z-index: 0;
    width: 800px;
    height: 30px;
    margin: 0px;
    top: 65px;
    left: 70px;
    position: absolute;
    display: inline-flex;
}

.eticon {
    z-index: 0;
    width: 120px;
    height: auto;
    margin: 0px;
    color: black;
    top: 110px;
    left: 55px;
    position: absolute;
    display: block;
}

.controles1 {
    z-index: 0;
    width: 200px;
    height: auto;
    margin: 0px;
    top: 110px;
    left: 140px;
    position: absolute;
    display: block;
}

.eticon2 {
    z-index: 0;
    width: 120px;
    height: auto;
    margin: 0px;
    top: 110px;
    color: black;
    left: 270px;
    position: absolute;
    display: block;
}

.controles2 {
    z-index: 0;
    width: 300px;
    height: auto;
    margin: 0px;
    top: 110px;
    left: 350px;
    position: absolute;
    display: block;
}


.table-container2 {
    z-index: 0;
    width: 50px;
    height: auto;
    margin: auto;
    top: 75px;
    left: 10px;
    position: absolute;
    display: flex;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border-radius: 50px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border-radius: 50px;
}


input {
    background-color: white;
    color: white;
    /* border: none; */
    border: 1px solid black;
    box-shadow: 4px 4px 6px #999;
}

    input::placeholder {
        color: black;
    }



#demo {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s 0.1s ease-in-out;
    transition: all 0.3s ease-in-out
}

