.modal-log {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 5;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.612);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-log-content {
    position: relative;
    background-color: #2a2a2a;
    margin: auto;
    padding: 0;
    border: 1px solid rgb(71, 71, 71);
    width: 30%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close-log {
    color: rgb(255, 255, 255);
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close-log:hover,
.close-log:focus {
    color: rgb(218, 143, 31);
    text-decoration: none;
    cursor: pointer;
}

.modal-log-header {
    padding: 4px 16px;
    color: white;
}

.modal-log-body {
    padding: 15% 16px;
    text-align: center;
}

.modal-log-body h2,
.modal-log-body b,
.modal-log-body label {
    color: rgb(155, 155, 155);
}

.pickers {
    border-radius: 5px;
    padding: 2px;
    outline: none;
    font-size: 12px;
    color: black;
}

.checkers {
    padding: 5px;
    margin-left: 5px;
}