body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.entrada_text {   
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 9px;
    margin-left: 15px;
    margin-right: 35px;
    width: 187px;
    font-size: 11px;
    color: black;
}

.entrada_text2 {
    background-color: white;
    border: 1px solid black;
    box-shadow: 4px 4px 6px #999;
    border-radius: 5px;
    padding: 5px;
    margin-left: 2px;
    margin-right: 35px;
    margin-top: 3px;
    width: 120px;
    font-size: 11px;
    color: black;
}
.parrafo {
    margin-left: 15px;
    margin-bottom: 0rem;
   
    padding: 7px;
    font-size: 11px;
    color: black;
}

input.text {
    display: grid;
    background-color: honeydew;
    border: none;
    border-radius: 5px;
    padding: 9px;
    margin-left: 15px;
    margin-right: 5px;
    width: 187px;
    font-size: 13px;
    color: black;
}
.background-dark {
    background-color: white;
}
.col-buttons {
    position: absolute;
    width: auto;
    height: auto;
    top: 100px;
    left: 260px;
    z-index: 3;
}

.button-inverse {
    width: auto;
    padding: 7px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(35, 35, 35);
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
}

.button-inverse:hover {
    background-color: rgb(68, 68, 68);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

.button-inverse:active {
    background-color: whitesmoke;
    color: rgb(20, 20, 20);
    border: none;
    outline: none;
    border-radius: 5px;
}

.button_selected {
    width: auto;
    padding: 7px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(193, 193, 193);
    color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    outline: none;
}

.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 5;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.612);
    /* Black w/ opacity */
}

input[type]:focus {
    outline-color: rgba(53, 53, 53, 0.39);
}

.button_ingresar {
    padding: 8px;
    border: none;
    background-color: #1d1d1d;
    border-radius: 5px;
    margin-left: 15px;

    margin-right: 5px;
    width: 187px;
    outline-style: none;
}

    .button_ingresar:hover {
        border: none;
        background-color: #1d1d1d;
    }

    .button_ingresar:active {
        background-color: #d0d0d0;
        color: black;
    }


.text_button {
    color: white;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

        /* Tooltip arrow */
        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }