﻿table.table-players thead {
    background-color: lightblue;
    color: black;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}

table.table-players2 thead {
    background-color: #ffd470;
    color: black;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}


.footer {
 
    background-color:lightgreen;
}


.resume {
    font-weight: bold;
    border: 1px solid black;
}




table {
    border: 1px solid black;

}
table.table-players2 tfoot {
    background-color: white;
    color: black;
}

table.table-players tfoot {
    background-color: white;
    color: black;
}

table.table-players td {
   /* width: 50px;*/
    font-size: 0.80rem;
}

table.table-players2 td {
    /* width: 50px;*/
    font-size: 0.80rem;
}

.table-container {
    z-index: 0;
    width: 1200px;
    height: auto;
    margin: auto;
    top: 110px;
    left: 65px;
    position: absolute;
    display: block;
}

.table-container4 {
    z-index: 0;
    width: 300px;
    height: 30px;
    margin: 0px;
    top: 235px;
    left: 140px;
    position: absolute;
    display: inline-flex;
}

.table-container5 {
    z-index: 0;
    width: 200px;
    height: 30px;
    margin: 0px;
    top: 70px;
    left: 1045px;
    position: absolute;
    display: inline-flex;
}

.titulo {
    z-index: 0;
    width: 2000px;
    height: 30px;
    margin: 0px;
    top: 65px;
    left: 70px;
    position: absolute;
    display: inline-flex;
}

.eticon {
    z-index: 0;
    width: 120px;
    height: auto;
    margin: 0px;
    top: 110px;
    left: 65px;
    position: absolute;
    display: block;
}

.controles1 {
    z-index: 0;
    width: 200px;
    height: auto;
    margin: 0px;
    top: 110px;
    left: 140px;
    position: absolute;
    display: block;
}

.eticon2 {
    z-index: 0;
    width: 120px;
    height: auto;
    margin: 0px;
    top: 110px;
    left: 270px;
    position: absolute;
    display: block;
}

.controles2 {
    z-index: 0;
    width: 300px;
    height: auto;
    margin: 0px;
    top: 110px;
    left: 350px;
    position: absolute;
    display: block;
}


.table-container2 {
    z-index: 0;
    width: 50px;
    height: auto;
    margin: auto;
    top: 75px;
    left: 10px;
    position: absolute;
    display: flex;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border-radius: 50px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border-radius: 50px;
}

input[type],
input[type]:focus {
    background-color: silver;
    outline: none;
    border: none;
    color: black;
    padding: 4px;
}

input {
    background-color: rgb(106, 106, 106);
    color: white;
}

    input::placeholder {
        color: black;
    }


    /*+++++++++++++++++++++++++++++++++++++++++++++General+++++++++++++++++++++++++++++++++++*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.entrada_text {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 9px;
    margin-left: 15px;
    margin-right: 35px;
    width: 187px;
    font-size: 11px;
    color: black;
}

.entrada_text2 {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 2px;
    margin-right: 35px;
    margin-top: 3px;
    width: 112px;
    font-size: 11px;
    color: black;
}

.parrafo {
    margin-left: 15px;
    margin-bottom: 0rem;
    color: white;
    padding: 7px;
    font-size: 11px;
}

input.entrada_text::placeholder {
    color: whitesmoke;
}

input.text {
    display: grid;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 9px;
    margin-left: 15px;
    margin-right: 5px;
    width: 187px;
    font-size: 12px;
    color: black;
}

.background-dark {
    /* background-color: rgb(61, 61, 61);*/
    background-color: white;
}

.col-buttons {
    position: absolute;
    width: auto;
    height: auto;
    top: 100px;
    left: 260px;
    z-index: 3;
}

.button-inverse {
    width: auto;
    padding: 7px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
}

    .button-inverse:hover {
        background-color: rgb(68, 68, 68);
        color: white;
        border: none;
        outline: none;
        border-radius: 5px;
    }

    .button-inverse:active {
        background-color: whitesmoke;
        color: rgb(20, 20, 20);
        border: none;
        outline: none;
        border-radius: 5px;
    }

.button_selected {
    width: auto;
    padding: 7px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(193, 193, 193);
    color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    outline: none;
}

.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 5;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.612);
    /* Black w/ opacity */
}

input[type]:focus {
    outline-color: rgba(0, 0, 0, 0.612);
}

.button_ingresar {
    padding: 8px;
    border: none;
    background-color: #1d1d1d;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 5px;
    width: 187px;
    outline-style: none;
}

    .button_ingresar:hover {
        border: none;
        background-color: #1d1d1d;
    }

    .button_ingresar:active {
        background-color: #d0d0d0;
        color: black;
    }


.text_button {
    color: white;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
    }

        /* Tooltip arrow */
        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }