            *,
            *.after,
            *.before {
                margin: 0;
                padding: 0;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

#container_loader {
    background-color: rgba(44, 44, 44, 0.707);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
}

#load {
    border: 9px solid rgba(245, 245, 245, 0.694);
    border-top-color: rgba(255, 255, 255, 0);
    border-top-style: groove;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 0.7s linear infinite;
    -o-animation: girar 0.7s linear infinite;
    animation: girar 0.7s linear infinite;
}
            
            @keyframes girar {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }

#legend {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
    text-align: center;
    font-size: 14px;
    width: auto;
    height: 14px;
    position: absolute;
    top: 10rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.reload_btn {
    font-size: 15px;
    text-align: center;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 16rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}