/*ESTILOS -LOGIN-*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("fondo.jpg");
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:1;
}

.boardroom{
    opacity: 65%;
    display: flex;
    background-color: #202020;
}

.entrada_text {
    display: grid;
    background-color: #606060;
    border: none;
    border-radius: 5px;
    padding: 9px;
    margin: 0 auto;
    /*margin-left: 55px;
    margin-right: 5px;*/
    width: 187px;
    font-size: 12px;
    color: white;
}

input.entrada_text::placeholder{
    color: rgb(186, 186, 186);
}



a{
    color: #ababab;
    font-size: 12px;
    text-decoration: none;
}

a:hover{color: #d5d5d5;}

label{
    color: #737373;
    font-size: 12px;
}

a.link:active{
 color: white;;
}

.container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-container {
    display: flex;
    width: auto;
    height: auto;
    background: rgb(44, 44, 44);
    border-radius: 5px;
    box-shadow: 1px 1px 4px 2px rgba(39, 54, 102, 0.1);
    
    box-shadow: 6px 6px 6px #999;
}


.formulario {
    /* padding: 45px;
    margin-right: 30px;*/
    text-align: center;
}




input[type]:focus{outline-color: rgba(53, 53, 53, 0.39);}

.button_ingresar {
    display: grid;
    padding: 8px;
    border: none;
    background-color: #0c0c0c;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
    width: 187px;
    outline-style: none;
}

.button_ingresar:hover{
    border: none;
    background-color: #1d1d1d;
}

.button_ingresar:active{
    background-color: #d0d0d0;
    color: black;
}


.text_button{color: white;}

/*FIN DE ESTILOS -LOGIN-*/
