﻿table.table-players thead {
    background-color: lightblue;
    color: black;
    font-weight: bold;
    text-align: center;
   /* border: 1px solid black;*/
}

table {
    border-collapse: collapse;
    box-shadow: 5px 5px 6px #999;
    font-size: 0.75rem;
    padding: 0.25rem;
    border: 1px solid black;
}

    table th {
        border: 1px solid black;
        padding: 0.25rem;
       
    }

    table tr {
        border: 1px solid black;
        padding: 15px;
    }
    table.table-players tfoot {
        background-color: white;
        color: black;
    }

    table.table-players td {
        text-align: center;
     
    }

.table-container {
    z-index: 0;
    width: 1275px;
    height: auto;
    margin: auto;
    top: 170px;
    left: 65px;
    position: absolute;
    display: block;
}
.hola {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: black;
    caption-side: top;
}

.table-container4 {
    z-index: 0;
    width: 300px;
    height: 30px;
    margin: 0px;
    top: 130px;
    left: 140px;
    position: absolute;
    display: inline-flex;
}

.table-container5 {
    z-index: 0;
    width: 200px;
    height: 30px;
    margin: 0px;
    top: 230px;
    left: 1125px;
    position: absolute;
    display: inline-flex;
}

.titulo {
    z-index: 0;
    width: 800px;
    height: 30px;
    margin: 0px;
    top: 65px;
    left: 70px;
    position: absolute;
    display: inline-flex;
}

.eticon {
    z-index: 0;
    width: 120px;
    height: auto;
    margin: 0px;
    top: 110px;
    color: black;
    left: 55px;
    position: absolute;
    display: block;
}

.controles1 {
    z-index: 0;
    width: 200px;
    height: auto;
    margin: 0px;
    top: 110px;
    left: 140px;
    position: absolute;
    display: block;
}

.eticon2 {
    z-index: 0;
    width: 120px;
    height: auto;
    margin: 0px;
    top: 110px;
    left: 290px;
    color: black;
    position: absolute;
    display: block;
}

.controles2 {
    z-index: 0;
    width: 300px;
    height: auto;
    margin: 0px;
    top: 110px;
    left: 350px;
    position: absolute;
    display: block;
}


.table-container2 {
    z-index: 0;
    width: 50px;
    height: auto;
    margin: auto;
    top: 75px;
    left: 10px;
    position: absolute;
    display: flex;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border-radius: 50px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border-radius: 50px;
}
/*
input[type],
input[type]:focus {
    background-color: white;
    border: none;
    color: white;
    padding: 4px;
}
    */

input {
    background-color: white;
    color: white;
    /* border: none; */
    border: 1px solid black;
    box-shadow: 4px 4px 6px #999;
}

    input::placeholder {
        color: black;
    }


    /*Target*/


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 150px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/*Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card.is-flipped {
    transform: rotateY(180deg);
}


/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    /* background-color: #bbb; */
   
    color: black;
}

.target {
    line-height: 150px;
    color: white;
    text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}
.status {
    color: white;
    text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}
.target2 {
    /*line-height: 150px; */
    color: white;
    font-weight: bold;
    font-size:20px
    text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}
/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

p {
    text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}




/*prueba del click*/

.container1 {
    background-color: transparent;
    width: 200px;
    height: 150px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  
}
.card1 {
    width: 200px;
    height: 150px;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.card1 div {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card1 .front {
  background: red;
}
.card1 .back {
    background: blue;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card1.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
