/*-------------SIDEBAR STYLING-------------*/

.sidebar {
    position: fixed;
    width: 160px;
    top: 0px;
    height: 100vmax;
    background: rgb(34, 34, 34);
    z-index: 1;
    display: none;
 
    bottom: 0;
}

.sidebar2 {
    position: fixed;
    width: 40px;
    top: 0px;
    height: 100vmax;
    background: black;
    z-index: 1;
    
    display: none;
    bottom: 0;
}
.sidebar h1 {
    display: block;
    /* padding: 15px 30px;*/
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    /* letter-spacing: 2px; */
}

.sidebar a,
.sidebar .hyperlink {
    display: block;
    padding: 10px 30px;
    color: rgb(136, 136, 136);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* letter-spacing: 2px; */
}

    .sidebar a:hover,
    .sidebar .hyperlink:hover {
        color: white;
        transition: 0.5s;
        text-decoration: none;
        background: rgb(73, 73, 73);
    }

.sidebar a.active,
.sidebar .hyperlink.active {
    color: white;
    background: rgb(73, 73, 73);
}